.day-form-fullscreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.day-form-fullscreen > * {
  width: 100%;
}

.songs {
  overflow: scroll;
}

.day-form-fullscreen .submit-footer {
  margin: auto -1rem -1rem;
  font-size: 1.5rem;
  background-color: #ccc;
  width: calc(100% + 2rem);
  padding: 1rem;
  position: relative;
  box-shadow: 0 -2rem 1.5rem rgba(255, 255, 255, 1);
}

.submit-footer button {
  margin: 0;
  background-color: #fff;
}
