.day {
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.day-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.day-form > * {
    width: 100%;
}

.submit-footer {
    margin: auto 0 0 0;
    text-align: right;
    font-size: 1.5rem;
}